<!doctype html>
<html lang="en">

<head>
<title>КриптоБро | Логин</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="Oculux Bootstrap 4x admin is super flexible, powerful, clean &amp; modern responsive admin dashboard with unlimited possibilities.">
<meta name="author" content="GetBootstrap, design by: puffintheme.com">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/assets/vendor/animate-css/vivify.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/static/assets/css/site.min.css">

</head>
<body class="theme-cyan font-montserrat">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>



<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="/static/assets/images/2.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">КриптоБро</a>
        </div>
        <div class="card">
            <div class="body">
                <p class="lead">Введите пароль</p>



 <form class="form-auth-small m-t-20" action="{{ url_for('login', next=next_url) }}" method="post">






    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label"></label>

        <input class="form-control" id="password" name="password" type="password">
                    </div>








                    <button type="submit" class="btn btn-primary btn-round btn-block btn-warning">ВОЙТИ</button>

                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->
    
<script src="/static/assets/bundles/libscripts.bundle.js"></script>    
<script src="/static/assets/bundles/vendorscripts.bundle.js"></script>
<script src="/static/assets/bundles/mainscripts.bundle.js"></script>
</body>
</html>
